#filterTools {
    padding: 0 10px;
    height: 0;
    opacity: 0;
    transition: all 0.25s;
    box-shadow: rgba(50, 50, 50, 0.75) 0px 2px 5px 0px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    position: relative;
}

#filterTools a {
    border-top: 1px solid #ADAEAF;
    width: 64px;
    height: 40px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.9) 0 1px 0;
    margin: 11px 10px;
    display: inline-block;
    transition: all 0.1s;
}
#filterTools a:hover {
    position: relative;
    top: -2px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 0;
}
#filterTools a:active {
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 0;
}
#brightButt {
    background: #65a9d7 url('../img/filters/brightness_small.png') no-repeat center center;
}
#graysButt {
    background: #65a9d7 url('../img/filters/grayscale_small.png') no-repeat center center;
}
#sepiaButt {
    background: #65a9d7 url('../img/filters/sepia_small.png') no-repeat center center;
}
#thresSbutt {
    background: #65a9d7 url('../img/filters/threshold_small.png') no-repeat center center;
}
#negSbutt {
    background: #65a9d7 url('../img/filters/negative_small.png') no-repeat center center;
}
#filterTools #filtCancel {
    width: 32px;
    height: 32px;
    margin-left: 50px;
    border: none;
    box-shadow: none;
    background: url('../img/undo.png') no-repeat center center;
    transition: all 0.2s;
}
#filterTools #filtCancel:hover {
    top: 0;
    transform: rotate(-10deg);
}
#filterTools #filtCancel:active {
    transform: rotate(-20deg);
}