.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#toolsFeatures {
    width: 100%;
    text-align: center;
}

#work-field-container .active {
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
    cursor: move;
    transition: transform 0.5s ease-in-out;
}

#work-field-container .canvAncor {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -5;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    border-radius: 20px 0 0 0;
}

#work-field-container .canvDel {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -5;
    top: 0;
    right: 0;
    cursor: pointer;
}

#work-field-container .canvDel::before {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #989191;
    cursor: pointer;
}

#work-field-container .canvDel:hover::before {
    color: rgba(255, 255, 255, 0.8);
}

#work-field-container .canvAncor:hover {
    background: rgba(255, 255, 255, 0.5);
}


/*-----------------------button for downloading a picture-------*/

#content-panel .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#content-panel .inputfile + label {
    cursor: pointer;
}


/*----------------------picture container-----------------------*/

#content-panel .picturesContainer {
    width: 94%;
    /*overflow-y: scroll;*/
    margin: 10px 3%;
    height: 503px;
}

#content-panel .pictHolder {
    width: 165px;
    margin: 0 0 4px;
    height: 165px;
    border: 3px solid #58777c;
    border-radius: 6px;
    overflow: hidden;
    display: block;
    position: relative;
    background: rgba(224, 228, 233, 0.63);
}

#content-panel .pictHolder > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#content-panel .pictHolder::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(88, 119, 124, 0.7);
    font-size: 80px;
}

#content-panel .pictHolder:last-of-type {
    margin: 0;
}

#content-panel [draggable] {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
}

#content-panel .uploadButton {
    position: relative;
    text-align: left;
}


/*-------------------------------------------------------*/

#file-buttons a {
    z-index: 25;
}

#content-panel label {
    border-top: 1px solid #D7D8D8;
    background: #ACBECA;
    padding: 9px 22px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}

#content-panel label {
    transition: all 0.1s;
}

#content-panel label:hover {
    background-color: #C5C9CD;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}

#content-panel label:active {
    position: relative;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    top: 1px;
}

#file-buttons a:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

#categories .calendarItem {
    margin-left: 0;
}

#categories a {
    color: #FFF;
    margin: 6px;
    font: 16px;
    text-decoration: none;
}

#categories a:hover {
    text-decoration: underline;
}

#categories .calendarItem {
    margin-left: 0;
}

#file-buttons a {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
    border-top: 1px solid #96d1f8;
    position: fixed;
    right: -70px;
    margin: 0;
    border-radius: 8px 0 0 8px;
    font-size: 20px;
    box-shadow: 0px 2px 5px 1px rgba(50, 50, 50, 0.75);
    text-shadow: rgba(0, 0, 0, .4) -2px 2px 6px;
    transition: all 0.8s;
    background: rgba(172, 190, 202, 0.5);
    border-top: 1px solid #D7D8D8;
    transition-timing-function: cubic-bezier(.42, 1.89, .25, .7);
}

#file-buttons a:hover {
    right: -10px;
    box-shadow: -1px 3px 5px 1px rgba(50, 50, 50, 0.75);
}

#file-buttons .save {
    top: 10px;
    padding: 11px 25px 11px 45px;
}

#file-buttons .print {
    top: 70px;
    padding: 11px 25px 11px 45px;
}

#file-buttons .postTo {
    top: 130px;
    padding: 11px 29px 11px 45px;
}

#file-buttons .help {
    top: 190px;
    padding: 11px 15px 11px 45px;
}

#file-buttons a::before {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px;
}

#file-buttons span {
    font-family: "Times New Roman", Georgia, Serif;
    padding: 0 0 0 5px
}


/*-----------------info boxes----------------------*/

@font-face {
    font-family: funnyFont;
    src: url(../fonts/Hangyaboly.ttf);
}

.infoBox {
    font-family: funnyFont;
    color: #fff;
    text-shadow: -1px 2px 1px rgba(50, 50, 50, 1);
    position: absolute;
    z-index: 200;
    transition: all 1s;
    opacity: 0;
    font-size: 38px;
    font-weight: 600;
}

.infoBox::before {
    font-family: FontAwesome;
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-shadow: -1px 2px 1px rgba(50, 50, 50, 1);
}

.infoBox.fa-arrow-right::before {
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    animation-name: move_v_r;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes move_v_r {
    0% {
        right: -40px;
    }
    50% {
        right: -45px;
    }
    100% {
        right: -40px;
    }
}

.infoBox.fa-arrow-down::before {
    left: 50%;
    bottom: -42px;
    transform: translateX(-50%);
    animation-name: move_h;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes move_h {
    0% {
        bottom: -42px;
    }
    50% {
        bottom: -47px;
    }
    100% {
        bottom: -42px;
    }
}

.infoBox.fa-arrow-left::before {
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    animation-name: move_v_l;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes move_v_l {
    0% {
        left: -40px;
    }
    50% {
        left: -45px;
    }
    100% {
        left: -40px;
    }
}


/*------------template carousel----------------*/

#carousel .carouselList {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    height: 100px;
}

#carousel .carouselList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: left 0.9s linear;
    left: 0;
}
#carousel #spinner .loader {
  margin: 25px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 8px solid rgba(255, 255, 255, 0.2);
  border-right: 8px solid rgba(255, 255, 255, 0.2);
  border-bottom: 8px solid rgba(255, 255, 255, 0.2);
  border-left: 8px solid #fff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  cursor: default;
  box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.5),  inset 0px 0px 20px 0px rgba(0,0,0,0.4);
}
#carousel #spinner .loader,
#carousel #spinner .loader::after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#carousel .carouselList li {
    height: 100px;
    margin: 0 1%;
    padding: 5px 10px;
    line-height: 100px;
    transition: all 1s linear;
    cursor: pointer;
}

#carousel .carouselList li.visibl {
    display: inline-block;
}

#carousel .carouselList li.invisibl {
    display: none;
}

#carousel .carouselList li:hover {
    /*transform: scale(1.2, 1.2);*/
}

#carousel .templNav {
    width: 50px;
    height: 80px;
    position: absolute;
    cursor: pointer;
    border-radius: 12px;
    margin: 10px 10px 0;
}

#carousel .templNav:hover {
    background: rgba(255, 255, 255, 0.5);
}

#carousel .templNav:hover::before {
    color: rgba(0, 0, 0, 0.5);
}

#carousel .templNav::before {
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#carousel .prev {
    left: 0;
    text-align: center;
}

#carousel .next {
    right: 0;
    text-align: center;
}

.hoverBlack {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

#categories a:hover,
.collapse:hover {
    background-color: rgba(255, 231, 159, 0.9);
    text-decoration: none;
    color: grey;
}

#categories .active {
    background-color: rgb(75, 75, 75);
}

#categories .no-active {
    background-color: rgba(128, 128, 128, 0.5);
}

#category-wrapper {
    margin: 4px 4px 0px 0px;
    float: left;
}

a.item {
    border-radius: 10px;
    padding: 9px;
}

.collapse {
    color: #FFF;
    border: 1px solid #FFF;
    padding: 3px;
    border-radius: 12px;
    cursor: pointer;
}


/* -----------------warning block------------------ */

.warningBlock {
    position: absolute;
    width: 500px;
    top: 200px;
    text-align: center;
    background: rgba(128, 128, 128, 0.47);
    border: 2px solid rgba(19, 18, 18, 0.76);
    padding: 10px;
    border-radius: 10px;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.8));
    box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.8));
}

.warningBlock p {
    margin-top: 0;
    color: #CCC9C9;
    font-size: 18px;
}

.warningBlock a {
    display: inline-block;
    color: #fff;
    margin: 0 35px;
    text-decoration: none;
    font-size: 23px;
}
.warningBlock a:hover {
    text-decoration: underline;
}
