#work-field-container .active {
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
    cursor: move;
    transition: transform 0.5s ease-in-out;
}

#work-field-container .canvAncor {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -5;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    border-radius: 20px 0 0 0;
}

#work-field-container .canvDel {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -5;
    top: 0;
    right: 0;
    cursor: pointer;
}

#work-field-container .canvDel::before {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #989191;
    cursor: pointer;
}

#work-field-container .canvDel:hover::before {
    color: rgba(255, 255, 255, 0.8);
}

#work-field-container .canvAncor:hover {
    background: rgba(255, 255, 255, 0.5);
}

/*-----------------------button for downloading a picture-------*/

#content-panel .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#content-panel .inputfile + label {
    cursor: pointer;
}

/*----------------------picture container-----------------------*/

#content-panel .picturesContainer {
    width: 94%;
    /*overflow-y: scroll;*/
    margin: 10px 3%;
    height: 503px;
}

#content-panel .pictHolder {
    width: 165px;
    margin: 0 0 4px;
    height: 165px;
    border: 3px solid #58777c;
    border-radius: 6px;
    overflow: hidden;
    display: block;
    position: relative;
    background: #E0E4E9;
}

#content-panel .pictHolder > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#content-panel .pictHolder::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(88, 119, 124, 0.7);
    font-size: 80px;
}

#content-panel .pictHolder:last-of-type {
    margin: 0;
}

#content-panel [draggable] {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
}

#content-panel .uploadButton {
    position: relative;
    text-align: left;
}

/*-------------------------------------------------------*/

#file-buttons a,
#content-panel .inputfile + label {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    padding: 9px 23px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}

#file-buttons a:hover,
#content-panel .inputfile + label:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

#file-buttons a:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

#categories .calendarItem {
    margin-left: 0;
}

#categories a {
    color: #FFF;
    margin: 6px;
    font: 16px;
    text-decoration: none;
}

#categories a:hover {
    text-decoration: underline;
}

#categories .calendarItem {
    margin-left: 0;
}

#file-buttons .save,
#file-buttons .postTo,
#file-buttons .help {
    position: fixed;
    right: -58px;
    margin: 0;
    border-radius: 8px 0 0 8px;
    font-size: 20px;
    box-shadow: 0px 2px 5px 1px rgba(50, 50, 50, 0.75);
    transition: all 0.5s;
}

#file-buttons .save {
    top: 10px;
    padding: 11px 15px 11px 45px;
}

#file-buttons .postTo {
    top: 70px;
    padding: 11px 19px 11px 45px;
}
#file-buttons .help {
    top: 130px;
    padding: 11px 5px 11px 45px;
}

#file-buttons .save::before,
#file-buttons .postTo::before,
#file-buttons .help::before {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px;
}
#file-buttons span {
    font-family: "Times New Roman", Georgia, Serif;
}
/*-----------------info boxes----------------------*/
.infoBox {
    padding: 10px 20px;
    background: rgba(199, 199, 199, 0.9);
    border: 3px solid #787779;
    border-radius: 10px;
    position: absolute;
    z-index: 200;
    transition: all 1s;
    opacity: 0;
    box-shadow: -5px 3px 10px 0px rgba(50, 50, 50, 0.75);
    font-size: 22px;
    font-weight: 600;
}
.infoBox::before {
    position: absolute;
    color: rgba(199, 199, 199, 0.9);
    font-size: 30px;
    font-weight: 900;
    text-shadow: -1px 2px 1px rgba(50, 50, 50, 1);
}
.infoBox.fa-arrow-right::before {
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    animation-name: move_v_r;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes move_v_r {
    0% {right: -40px;}
    50% {right: -45px;}
    100% {right: -40px;}
}
.infoBox.fa-arrow-down::before {
    left: 50%;
    bottom: -42px;
    transform: translateX(-50%);
    animation-name: move_h;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes move_h {
    0% {bottom: -42px;}
    50% {bottom: -47px;}
    100% {bottom: -42px;}
}
.infoBox.fa-arrow-left::before {
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    animation-name: move_v_l;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes move_v_l {
    0% {left: -40px;}
    50% {left: -45px;}
    100% {left: -40px;}
}
/*------------template carousel----------------*/

#carousel .carouselList {
    width: 85%;
    overflow: hidden;
    /*margin: 0 5%;*/
    margin: 0 auto;
    height: 100px;
}

#carousel .carouselList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: left 0.9s linear;
    left: 0;
}

#carousel .carouselList li {
    height: 100px;
    margin: 0 1%;
    padding: 5px 10px;
    line-height: 100px;
    transition: all 1s linear;
    cursor: pointer;
}

#carousel .carouselList li.visibl {
    display: inline-block;
}

#carousel .carouselList li.invisibl {
    display: none;
}

#carousel .carouselList li:hover {
    /*transform: scale(1.2, 1.2);*/
}

#carousel .templNav {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    border-radius: 26px;
}

#carousel .templNav:hover {
    background: rgba(72, 168, 168, 0.6);
}

#carousel .templNav::before {
    position: absolute;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    line-height: 100px;
    font-size: 24px;
    color: #fff;
}

#carousel .prev {
    left: 0;
    text-align: center;
}

#carousel .next {
    right: 0;
    text-align: center;
}
.hoverBlack {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

#categories a:hover, .collapse:hover{
    background-color: rgba(255, 231, 159, 0.9);
    text-decoration: none;
    color: grey;

}

#categories .active{
    background-color: rgb(75, 75, 75);
}

#categories .no-active{
    background-color: rgba(128, 128, 128, 0.5);
}

a.calendarItem, a.postcardItem{
    border-radius: 26px;
    padding: 9px;
}

.collapse{
    color: #FFF;
    border: 1px solid #FFF;
    padding: 3px;
    border-radius: 12px;
    cursor: pointer;
}