* {
	box-sizing: border-box;
}

#wrapper {
	width: 100%;
	background-color: silver;
}

#header {
	height: 38px;
	background-color: silver;
}

#logo {
	height: 38px;
	width: 134px;
	background-image: url('../img/logo.png');
	display: inline-block;
	float: left;
}

#login {
	height: 38px;
	display: inline-block;
	width: 20%;
	background-color: grey;
	float: right;
}

#container{
	height: 590px;
	width: 100%;
	background-color: rgb(198, 220, 242);
}

#tools-panel{
	height: 100%;
	width: 10%;
	background-color: rgb(100, 220, 242);
	display: inline-block;
	float: left;
}


#work-field {
	width: 75%;
	height: 550px;
	background-color: rgb(250, 222, 255);
	display: inline-block;
	position: relative;
}

#content-panel{
	width: 15%;
	height: 100%;
	background-color: rgb(131, 159, 173);
	display: inline-block;
	float: right;
}

#file-buttons {
	text-align: right;
	padding-right: 215px;
	padding-top: 5px;
}

#categories {
	height: 120px;
	background-color: rgb(250, 222, 255);
	width: 100%;
	clear: left;
}

#carousel {
	height: 150px;
	width: 100%;
	background-color: rgb(198, 220, 242);
	clear: left;
}

#footer{
	background-color: cyan;
	padding: 10px;
	text-align: center;
}