* {
    box-sizing: border-box;
}

body {
    background: #403B4A;
    background: -webkit-linear-gradient(to left, #403B4A, #E7E9BB);
    background: linear-gradient(to left, #403B4A, #E7E9BB);
}

#wrapper {
    width: 1200px;
    margin: 0 auto;
}

#header {
    height: 38px;
    background-color: rgb(192, 192, 192);
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    position: relative;
    z-index: 15;
}

#logo {
    height: 38px;
    width: 134px;
    background-image: url('../img/logo.png');
    display: inline-block;
    float: left;
}

#login {
    height: 38px;
    display: inline-block;
    width: 19%;
    background-color: grey;
    float: right;
}

#container {
    padding: 0 0 10px;
    width: 100%;
    /* background-color: rgb(198, 220, 242); */
    /* overflow: hidden; */
}

#tools-panel {
    height: 550px;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.35);
    float: left;
    position: relative;
}

#tools-panel .tool-button {
    display: inline-block;
    width: 46%;
    margin: 2% 1%;
    height: 52px;
    background-color: grey;
    text-align: center;
    font-size: 2.5em;
    padding-top: 6px;
}

#tools-panel .tool-button:hover {
    color: #23423F;
    text-shadow: 0px 0px 10px rgb(61, 204, 191);
}

#tools-panel .tool-button:active {
    color: #23423F;
    text-shadow: 0px 0px 10px rgb(61, 204, 191);
    position: relative;
    top: 1px;
}

#work-field-container {
    width: 72%;
    margin: 10px 1% 10px;
    float: left;
    position: relative;
}

#work-field {
    z-index: 10;
    /* transition: all 0.5s; */
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 828px;
    margin: 0 auto;
    height: auto;
    border-radius: 10px;
    border: 10px solid rgb(99, 109, 120);
    /* background-color: #269; */
    background-color: #5F7483;
    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#work-field > * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#content-panel {
    width: 19%;
    height: 100%;
    float: right;
    text-align: center;
    /* margin-bottom: 30px; */
    border-radius: 0 0 20px 20px;
    background: rgba(187, 195, 196, 0.64);
    border: 1px solid rgba(104, 131, 121, 0.57);
    border-top: none;
    padding: 10px 0 0 24px;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

#categories {
    padding: 12px 10px 12px 8px;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 70px;
}

#carousel {
    width: 100%;
    padding: 10px 0;
    position: relative;
    text-align: left;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 15;
}

#template-wrapper {
    background-color: rgba(128, 128, 128, 0.5);
    text-align: center;
}

#footer {
    background-color: rgba(72, 168, 168, 0.24);
    padding: 10px;
    text-align: center;
    clear: both;
}


/*//-------------------------------fade-in effect-------------------------*/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
