* {
    box-sizing: border-box;
}

body {
    background: #403B4A;
    background: linear-gradient(to left, #403B4A, #E7E9BB);
}

body > * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#wrapper {
    width: 1200px;
    margin: 0 auto;
}

#header {
    height: 38px;
    background-color: rgba(197, 203, 189, 0.52);
    box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.5);
    position: relative;
    z-index: -15;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid rgba(79, 75, 84, 0.32);
    border: 1px solid rgba(104, 131, 121, 0.57);
    border-top: none;
}

#logo {
    margin-left: 5px;
    height: 38px;
    width: 138px;
    background: url('../img/spritesheet.png') no-repeat -5px -147px;
    display: inline-block;
}

#container {
    padding: 0 0 10px;
    width: 100%;
}

#tools-panel {
    position: relative;
    height: 572px;
    width: 6%;
    background-color: rgba(187, 195, 196, 0.64);
    float: left;
    border: 1px solid rgba(104, 131, 121, 0.57);
    border-top: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 5px;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

#tools-panel .tool-button {
    display: inline-block;
    width: 46%;
    margin: 2% 1%;
    height: 52px;
    background-color: grey;
    text-align: center;
    font-size: 2.5em;
    padding-top: 6px;
}

#tools-panel .tool-button:hover {
    color: #23423F;
    text-shadow: 0px 0px 10px rgb(61, 204, 191);
}

#tools-panel .tool-button:active {
    color: #23423F;
    text-shadow: 0px 0px 10px rgb(61, 204, 191);
    position: relative;
    top: 1px;
}

#work-field-container {
    width: 73%;
    margin: 10px 1% 10px;
    float: left;
    position: relative;
}

#work-field {
    z-index: 10;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 876px;
    margin: 0 auto;
    height: auto;
    border-radius: 10px;
    border: 10px solid rgb(99, 109, 120);
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    background-color: #5F7483;
    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -20px, -21px -2px, -1px -1px, -1px -1px;
}

#content-panel {
    width: 19%;
    height: 100%;
    float: right;
    text-align: center;
    border-radius: 10px;
    background: rgba(187, 195, 196, 0.5);
    border: 1px solid rgba(104, 131, 121, 0.4);
    border-top: none;
    margin-top: 10px;
    padding: 10px 0 0 24px;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

#categories {
    padding: 12px 10px 12px 8px;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 70px;
}

#carousel {
    width: 100%;
    padding: 10px 0 0;
    position: relative;
    text-align: left;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 15;
}

#template-wrapper {
    background-color: rgba(128, 128, 128, 0.5);
    text-align: center;
}

#footer {
    background-color: rgba(72, 168, 168, 0.24);
    padding: 10px;
    text-align: center;
    clear: both;
}
