#textControlPanel {
    padding: 0 10px;
    height: 0;
    opacity: 0;
    transition: all 0.25s;
    box-shadow: rgba(50, 50, 50, 0.75) 0px 2px 5px 0px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    position: relative;
}

label {
  font-family: sans-serif, Arial;
  display: inline-block;
  font-size: 1.1em;
  padding: 10px 0 0 30px;
}

label span {
  color: #EEE;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 1);
}

.optionContainer {
  width: calc(100%/3);
  height: 100%;
  float: left;
  text-align: left;
}
