@font-face {
	font-family: "AlexBrush";
	src: url("../fonts/AlexBrush-Regular.ttf");
}

@font-face {
	font-family: "GoodDog";
	src: url("../fonts/GoodDog.otf");
}

@font-face {
	font-family: "GreatVibes";
	src: url("../fonts/GreatVibes-Regular.otf");
}

@font-face {
	font-family: "KaushanScript";
	src: url("../fonts/KaushanScript-Regular.otf");
}

@font-face {
	font-family: "Pacifico";
	src: url("../fonts/Pacifico.ttf");
}

@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand-Regular.otf");
}

[id^="textBox"] {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	display: block;
	width: 100px;
	height: 50px;
	font-family: Arial;
	border: 2px dashed rgba(0, 0, 0, 0.2);
	background: rgba(219, 221, 219, 0.3);
}

[id^="textBox"] div[contenteditable="true"] {
	z-index: 100;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	text-decoration: inherit;
}

[id^="textBox"] canvas {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	width: inherit;
	height: inherit;
	visibility: hidden;
}

[id^="textBox"] button {
	font-size: 16px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2;
	font-family: Arial;
	color: #000;
}
/**
 * Resize button. Is only shown, when textBox is hovered.
 */
[id^="textBox"] button.resize {
	display: block;
	visibility: hidden;
	width: 20px;
    height: 20px;
	position: absolute;
    z-index: 101;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    border: none;
    border-radius: 20px 0 0 0;
    background: rgba(0, 0, 0, 0.5);
}

[id^="textBox"].active button.resize {
	visibility: visible;
}
[id^="textBox"].active button.resize:hover {
    background: rgba(255, 255, 255, 0.5);
}

[id^="textBox"]:hover button.resize:focus {
	outline: none;
}

[id^="textBox"] button.resize span.label {
	display: block;
	text-indent: -9999px;
}

/**
 * Remove button. Is only shown, when textBox is hovered.
 */
[id^="textBox"] button.remove {
	display: block;
	visibility: hidden;
	width: 20px;
    height: 20px;
	position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    text-indent: -9999px;
}

[id^="textBox"].active button.remove {
	visibility: visible;
}

[id^="textBox"].active button.remove::before {
	content: "\2716"; /* // U+2716 */
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	color: #989191;
	text-indent: 0;
}
[id^="textBox"].active button.remove:hover::before {
    color: rgba(255, 255, 255, 0.8);
}
[id^="textBox"]:hover button.remove:focus {
	outline: none;
}

[id^="textBox"] button.remove span.label {
	display: block;
	text-indent: -9999px;
}


[id^="textBox"][data-is-bold="true"] {
	font-weight: bold;
}

[id^="textBox"][data-is-italic="true"] {
	font-style: italic;
}

[id^="textBox"][data-is-underline="true"] {
	text-decoration: underline;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label::before {
	font-family: FontAwesome;
	display: inline-block;
}

#bold + label::before,
#italic + label::before,
#underline + label::before {
	padding: 4px;
	border: 1px solid #000;
	border-radius: 4px;
	background-color: #fff;
}

#bold:checked + label::before,
#italic:checked + label::before,
#underline:checked + label::before {
	padding: 4px;
	border: 1px solid #000;
	border-radius: 4px;
	background-color: #999;
}


#bold + label::before {
	content: "\f032";;
}

#italic + label::before {
	content: "\f033";
}

#underline + label::before {
	content: "\f0cd";
}

.edit-area {
	width: 100%;
	height: 100%;
}
